<div class="container">
  <p><strong>IQTest:</strong> <%= @iqtest.name %></p> <div id="timer"></div>
  <input type="hidden" id="start-time" value="<%= @iqtest.start_time.iso8601 %>">

  <div class="row">
    <div class="col-md-6">
      <div class="question-card">
        <!-- Conteneur du texte de la question -->
        <div id="question-text-container">
          <h1 id="question-text"><strong>Question:</strong> <%= @question.contentq %></h1>
        </div>

        <!-- Conteneur de l'image de la question -->
        <div id="question-image-container">
          <% if @question.imageq.attached? %>
            <%= cl_image_tag @question.imageq.key, id: "question-image", class: "img-fluid", alt: "Image de la question" %>
          <% end %>
        </div>
      </div>


      <!-- Options pour la gestion de la question (pour les admins) -->
      <% if user_signed_in? && policy(@question).edit? %>
        <%= link_to "Edit", edit_iqtest_question_path(@iqtest, @question), class: "btn btn-primary" %> |
        <%= button_to "Destroy", iqtest_question_path(@iqtest, @question), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
    </div>

    <!-- Conteneur des options -->
    <div class="col-md-6" id="options-container">
      <div class="options-card">
        <% @options.each do |option| %>
          <div class="<%= 'option-item' unless current_user&.admin? %>" data-option-id="<%= option.id %>" data-question-id="<%= @question.id %>" data-iqtest-id="<%= @iqtest.id %>">
            <p><%= option.reponse %></p>
            <% if option.image.attached? %>
              <%= cl_image_tag option.image.key, class: "img-fluid", alt: "Image de l'option" %>
            <% end %>
            <% if current_user&.admin? %>
              <%= option.reponse %> (Correct: <%= option.isreponsecorrect ? 'Yes' : 'No' %>)
              <% if policy(option).edit? %>
                <%= link_to 'Edit', edit_iqtest_question_option_path(@iqtest, @question, option), class: "btn btn-sm btn-outline-secondary" %>
              <% end %>
              <% if policy(option).destroy? %>
                <%= button_to 'Delete', iqtest_question_option_destroy_path(@iqtest, @question, option), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<%= link_to 'Back to IQTest', iqtest_path(@iqtest), class: "btn btn-secondary" %>

<!-- Pagination -->
<div class="pagination">
  <% @iqtest.questions.each_with_index do |question, index| %>
    <%= link_to "Question #{index + 1}", iqtest_question_path(@iqtest, question), class: "page-link" %>
  <% end %>
</div>


