<div class="container-question">
  <h1>Your IQ Score is <%= @iq_score %></h1>
  <h2>Correct Answers: <%= @score %> out of <%= @questions.count %></h2>

  <div class="row">
    <!-- Section pour les questions -->
    <div class="col-md-6">
      <% @questions.each_with_index do |question, index| %>
        <div class="question-card">
          <% if question.imageq.attached? %>
            <%= image_tag question.imageq, class: "img-fluid", alt: "Image de la question" %>
          <% else %>
            <div id="question-text-container">
              <h3>Question <%= index + 1 %></h3>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- Section pour les options -->
    <div class="col-md-6" id="options-container">
      <div class="options-card">
        <% @questions.each do |question| %>
          <% question.options.each do |option| %>
            <div class="<%= 'option-item' unless current_user&.admin? %><%= ' bg-success' if option.isreponsecorrect %><%= ' bg-danger' if @responses_map[question.id] == option.id && !option.isreponsecorrect %>">
              <% if option.image.attached? %>
                <%= image_tag option.image, class: "img-fluid", alt: "Image de l'option" %>
              <% end %>
              <p><%= option.reponse %></p>
              <% if option.id == @responses_map[question.id] %>
                <span>(Your choice)</span>
              <% end %>
              <% if option.isreponsecorrect %>
                <span>(Correct)</span>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
