<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://th.bing.com/th/id/OIG1.e77.OD_ygZzNBz8jHJCE?w=1024&h=1024&rs=1&pid=ImgDetMain);">
  <div class="container">
    <h1>Test your IQ and get certified!</h1>
      <p>Discover your potential with our quick and certified IQ test. Receive your results and personalized evaluation in just 20 minutes.</p>
      <%= link_to "Start the test now!", start_new_test_path, method: :post, class: "btn btn-flat" %>
  </div>
</div>
<div class="">

</div>

<div class="">
  <div class="row align-items-center bg-light">
    <div class="col-md-6 .col-s-12 align-items-center">
      <img src="https://th.bing.com/th/id/OIG2.CCplmkbaEheHq9Md9AP7?w=1024&h=1024&rs=1&pid=ImgDetMain" class="rounded-3 img-fluid p-5" alt="brain and a scale">
    </div>
    <div class="col-md-6 .col-s-12 p-5">
      <p class="align-text-middle">Take a quick, certified IQ test and get your results instantly. Our test is designed to be accurate and reliable, providing you with a valuable assessment of your cognitive abilities</p>
      <%= link_to "Challenge Yourself!", first_question_path, class: "btn btn-flat" %>
    </div>
  </div>
  <div class="row align-items-center bg-white">
    <div class="col-md-6 .col-s-12 p-5">
      <p class="align-text-middle">Take a quick, certified IQ test and get your results instantly. Our test is designed to be accurate and reliable, providing you with a valuable assessment of your cognitive abilities.</p>
      <%= link_to "Start the test now!", start_new_test_path, method: :post, class: "btn btn-flat" %>
    </div>
    <div class="col-md-6 .col-s-12 align-items-center">
      <img src="https://th.bing.com/th/id/OIG2.9tsezNIxGAjhVcjORhY.?pid=ImgGn" class="rounded-3 img-fluid p-5" alt="brain and a scale">
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-5">
      <p>
        Uncover your intellectual potential: Measure your cognitive abilities and explore the different facets of your intelligence to gain a deeper understanding of yourself. Challenge yourself and compare your results to the average population.
      </p>
      <%= link_to "Measure Your Intelligence!", first_question_path, class: "btn btn-ghost" %>
    </div>
  </div>
  <div class="row align-items-center bg-light">
    <div class="col-md-6 .col-s-12 align-items-center">
      <img src="https://th.bing.com/th/id/OIG2.EoS81cv31Ihctpv_Maad?pid=ImgGn" class="rounded-3 img-fluid p-5" alt="brain and a scale">
    </div>
    <div class="col-md-6 .col-s-12 p-5">
      <p class="align-text-middle">An IQ test is a standardized assessment that measures your cognitive abilities, including reasoning, problem-solving, and spatial awareness. IQ scores are typically distributed as follows:</p>
      <ul>
        <li>130+ : Gifted</li>
        <li>115-129 : Above average</li>
        <li>115-129 : Above average</li>
        <li>115-129 : Above average</li>
        <li>85-114 : Average</li>
        <li>70-84 : Below average</li>
        <li>69 or below : Intellectual disability</li>
      </ul>
      <%= link_to "Discover your giftedness", iqtest_question_path(Iqtest.first, Question.first) , class: "btn btn-flat" %>
    </div>
  </div>
</div>












<h1>My home view 🚀</h1>
<ul>
  <li><%= link_to "Know more about us", about_path %></li>
  <li><%= link_to "Meet our team", contact_path %></li>
  <li><%= link_to 'Tous les tests', iqtests_path %></li>
</ul>
